extends layout

block content
  h1= title
  p Welcome to #{title}

  div 
    button test
  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js')
  script.
    var socket = io.connect('http://localhost:8111')